<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<!-- <body>
  <div class="container text-center">
    <h1 class="jumbotron">Hemispheres</h1>
    <div>
      <ul style="list-style: none;">
        <li>{{ mars.news.title }}</li>
      </ul>
    </div>
    <div class="row">
      <div class="col-9"><img src="{{ mars.image.featured_image}}"></div>
      <div class="col-3">{{ mars.facts|safe }}</div>
    </div>
    <div>
      {% for hemisphere in mars.hemispheres %}
      <img src="{{hemisphere}}">
      {% endfor %}
    </div>
  </div>
</body> -->

<body>
  <div class="container text-center">
    <h1 class="jumbotron">Mars Hemispheres</h1>
    <div>
      <ul style="list-style: none;">
        <li>{{ mars.news.title }}</li>
      </ul>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8"><img src="{{ mars.image.featured_image}}"></div>
      <div class="col-md-4">{{ mars.facts|safe }}</div>
    </div>
    <div>
      {% for hemisphere in mars.hemispheres %}
      <img src="{{hemisphere}}">
      {% endfor %}
    </div>
  </div>
</body>

</html>


<!-- <body>
  <div class="container text-center">
    <h1 class="jumbotron">Hemispheres</h1>
    <div>
      <ul style="list-style: none;">
        <li>{{ mars.news.title }}</li>
        <li><img src="{{ mars.image.featured_image}}"> </li>
      </ul>
    </div>
    <div>{{ mars.facts|safe }}</div>
    <div>
      {% for hemisphere in mars.hemispheres %}
      <img src="{{hemisphere}}">
      {% endfor %}
    </div>
  </div>
</body>

</html> -->